@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
header {
  display: flex;
  justify-content: center;
}
header nav {
  width: 100%;
  max-width: 1600px;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo {
  font-family: "Inria Serif", serif;
  color: #030023;
  font-size: 4rem;
  padding-left: 2.75rem;
  font-weight: 700;
}
header nav ul {
  font-family: Lato, "sans-serif";
  display: flex;
}
header nav ul li {
  list-style-type: none;
  padding: 0 2.75rem;
  font-size: 1rem;
  letter-spacing: 0.3px;
  cursor: pointer;
  font-weight: 600;
  color: #030023;
}
header nav ul li .spanTag {
  width: 2.8rem;
  height: 0.31rem;
  margin-top: -2px;
  transition: 0.1s ease-in;
}
header nav ul li:hover .spanTag {
  background: #4ade80;
}

.first_page {
  display: flex;
  margin: 8rem 0;
  justify-content: center;
}
.first_page .first_page_aio {
  width: 100%;
  max-width: 1600px;
}
.first_page .first_page_aio .first_page_text {
  display: flex;
  justify-content: center;
}
.first_page .first_page_aio .first_page_text .text_one,
.first_page .first_page_aio .first_page_text .text_two {
  margin-right: 18rem;
  margin-left: 18rem;
  font-size: 4.5rem;
  font-family: "Lato", sans-serif;
  color: #030023;
}
.first_page .first_page_aio .first_page_text .text_one .bigSpan,
.first_page .first_page_aio .first_page_text .text_two .bigSpan {
  position: relative;
  width: 17.375rem;
  top: -19px;
  z-index: -1;
  height: 1rem;
  background: #00ff85;
}
.first_page .first_page_aio .my-image {
  position: absolute;
  top: 105px;
  left: 16rem;
}
.first_page .first_page_aio .my-image img {
  width: 90%;
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
}

.second_page {
  display: flex;
  margin-top: 14rem;
  justify-content: center;
}
.second_page .second_page_aio {
  background: #030023;
  padding: 3rem;
  width: 100%;
  max-width: 1600px;
}
.second_page .second_page_aio .skill_set {
  display: flex;
  justify-content: center;
  font-family: "Lato", "sans-serif";
  font-size: 7rem;
  font-weight: 800;
  color: #00FF85;
  text-shadow: 4px 0px 3px #003f21;
}
.second_page .second_page_aio .skill_visuals {
  display: flex;
  margin-top: 3rem;
  flex-direction: column;
  justify-content: center;
}
.second_page .second_page_aio .skill_visuals .skill_box {
  height: 150px;
  border: 2px solid #00FF85;
  padding: 0 2rem;
  align-items: center;
  margin: 1rem 15rem;
  display: flex;
  justify-content: space-between;
}
.second_page .second_page_aio .skill_visuals .skill_box .skill_name {
  font-size: 3rem;
  font-weight: 300;
  color: #00FF85;
  font-family: "Lato", "sans-serif";
}

.about_section {
  display: flex;
  margin: 8rem 0;
  justify-content: center;
}
.about_section .inside_about {
  width: 100%;
  max-width: 1600px;
}
.about_section .inside_about .heading {
  display: flex;
  justify-content: center;
}
.about_section .inside_about .heading h1 {
  color: #030023;
  font-size: 7rem;
  z-index: 2;
}
.about_section .inside_about .heading h1 .about_span {
  position: relative;
  bottom: 42px;
  z-index: -1;
  right: 4px;
  width: 347px;
  height: 25px;
  background-color: #00ff85;
}
.about_section .inside_about .about_blocks {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}
.about_section .inside_about .about_blocks .block {
  width: 35%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2rem 6rem;
}
.about_section .inside_about .about_blocks .block svg {
  width: 100%;
  display: flex;
  justify-content: center;
}
.about_section .inside_about .about_blocks .block h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #030023;
  margin-top: 0.5rem;
  font-size: 2.8rem;
  font-weight: 900;
  font-family: "Lato", "sans-serif";
}
.about_section .inside_about .about_blocks .block p {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 1.3rem;
  font-size: 1.2rem;
  color: rgb(42, 42, 42);
  font-family: "Lato", "sans-serif";
  letter-spacing: 0.2px;
  line-height: 25px;
  font-weight: 500;
}

.emergency_heading_projects_section {
  display: flex;
  justify-content: center;
}
.emergency_heading_projects_section .emergency_aio {
  width: 100%;
  max-width: 1600px;
  display: flex;
  padding: 39px 28px;
  align-items: center;
  justify-content: center;
}
.emergency_heading_projects_section .emergency_aio .heading {
  display: flex;
  justify-content: center;
}
.emergency_heading_projects_section .emergency_aio .heading h1 {
  color: #030023;
  font-size: 7rem;
  z-index: 2;
}
.emergency_heading_projects_section .emergency_aio .heading h1 .about_span {
  position: relative;
  bottom: 42px;
  z-index: -1;
  right: 4px;
  width: 460px;
  height: 25px;
  background-color: #00ff85;
}

.head-swiper {
  display: flex;
  margin: 1rem 1rem;
  justify-content: center;
}
.head-swiper .ultimate-swiper {
  width: 100%;
  max-width: 1600px;
  display: flex;
  padding: 39px 28px;
  align-items: center;
  justify-content: space-between;
}
.head-swiper .ultimate-swiper .latest-blogs {
  width: 50%;
  padding-left: 5%;
}
.head-swiper .ultimate-swiper .latest-blogs .swiper-head {
  font-size: 19rem;
  font-family: "Lato", "sans-serif";
  font-weight: 900;
  color: #030023;
}
.head-swiper .ultimate-swiper .latest-blogs .swiper-proj {
  font-size: 5.1rem;
  top: -3rem;
  right: -2rem;
  position: relative;
  font-family: "Lato", "sans-serif";
  font-weight: 900;
  color: #00FF85;
}
.head-swiper .ultimate-swiper .swiper {
  width: 312px;
  height: 416px;
  max-width: 312px;
  max-height: 416px;
}
.head-swiper .ultimate-swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 800;
  font-family: "Lato", "sans-serif";
  color: rgb(235, 235, 235);
  box-shadow: rgba(0, 255, 133, 0.3294117647) 0px 0px 101px -29px;
  border-radius: 18px;
}
.head-swiper .ultimate-swiper .swiper-slide:nth-child(1n) {
  background: url("https://source.unsplash.com/random/360x480/?cryptocurrency,finance");
}
.head-swiper .ultimate-swiper .swiper-slide:nth-child(2n) {
  background: url("https://source.unsplash.com/random/360x480/?stockmarket,shares");
  fill-opacity: 1;
}
.head-swiper .ultimate-swiper .swiper-slide:nth-child(3n) {
  background: url("https://source.unsplash.com/random/360x480/?love");
}
.head-swiper .ultimate-swiper .swiper-slide:nth-child(4n) {
  background: url("https://source.unsplash.com/random/360x480/?india");
}
.head-swiper .ultimate-swiper .swiper-slide:nth-child(5n) {
  background: url("https://source.unsplash.com/random/360x480/?diwali");
}
.head-swiper .ultimate-swiper .swiper-slide:nth-child(6n) {
  background: url("https://source.unsplash.com/random/360x480/?dance");
}
.head-swiper .ultimate-swiper .swiper-slide:nth-child(7n) {
  background: url("https://source.unsplash.com/random/360x480/?sadhguru");
}
.head-swiper .ultimate-swiper .swiper-slide:nth-child(8n) {
  background: url("https://source.unsplash.com/random/360x480/?war");
  opacity: 0.2;
}
.head-swiper .ultimate-swiper .swiper-slide:nth-child(9n) {
  background: url("https://source.unsplash.com/random/360x480/?IPL");
}
.head-swiper .ultimate-swiper .swiper-slide:nth-child(10n) {
  background: url("https://source.unsplash.com/random/360x480/?BadBoys");
}

*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

::-moz-selection {
  color: #00FF85;
  background-color: #030023;
}

::selection {
  color: #00FF85;
  background-color: #030023;
}/*# sourceMappingURL=style.css.map */